@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&family=Playwrite+VN:wght@100..400&family=Roboto+Slab:wght@500;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    height: 100vh;
}

